.html{
    background-color: azure;
    background-image: url(casa.png);
    background-repeat: no-repeat;
    background-size: 70%;
}

.kidsRoom{
    display: inline;
    padding: 0 0 0 0;
    margin: 1 1 1 1;
    position: relative;
    left: 220px;
    top: 146px;
    width: 50px;
    height: 70px;
}
    
.stance{
    display: inline;
    padding: 0 0 0 0;
    margin: 1 1 1 1;
    position: relative;
    left: 520px;
    top: 144px;
    width: 50px;
    height: 70px;
}

.mainRoom{
    display: inline;
    padding: 0 0 0 0;
    margin: 1 1 1 1;
    position: relative;
    left: 900px;
    top: 142px;
    width: 50px;
    height: 70px;
}

.TVRoom{
    display: inline;
    padding: 0 0 0 0;
    margin: 1 1 1 1;
    position: relative;
    left: 120px;
    top: 424px;
    width: 50px;
    height: 70px;
}

.dinningRoom{
    display: inline;
    padding: 0 0 0 0;
    margin: 1 1 1 1;
    position: relative;
    left: 450px;
    top: 425px;
    width: 50px;
    height: 70px;
}

.kitchen{
    display: inline;
    padding: 0 0 0 0;
    margin: 1 1 1 1;
    position: relative;
    left: 750px;
    top: 438px;
    width: 50px;
    height: 70px;
}

.text{
    font-family: "Roboto", monospace;
    font-size: xx-large;
    position: fixed;
    top: 870px;
}

.credits{
    font-family: "Roboto", monospace;
    font-size: xx-large;
    position: fixed;
    top: 900px;
}

marquee{
    font-size: xx-large;
    position: fixed;
    top: 350px;
}